<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="ROOTLOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/ec2-user/Weresolf/logs/root.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/Users/huanghao/Weresolf/logs/root.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>2</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{80} [%file : %line] - %msg%n</pattern>
            <charset>GBK</charset>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="ROOTLOGGER" />
    </root>
</configuration>